dl dt {
  font-weight: bold;
}

.definition-list-dt {
  font-weight: bold;
}

.definition-list-dd {
    display: block;
    margin-inline-start: 40px;
}

.definition-list-hidden-marker {
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 0;
}
